@charset "UTF-8";

body{
    background-color: rgba(0, 255, 255, 0.404);
}

main{
    margin: auto;
    padding: 50px;
    background-color: blue;
    min-width: 300px;
    max-width: 1000px;
    
}

article{
    background-color: rgba(255, 0, 0, 0.747);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}
h2{
    text-align: center;
}

p {
    text-align: center;
}

.imgg {
    margin: auto;
    display: block;
}

